body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(2, 100px); 
  gap: 300px; 
  justify-content: center;
  align-content: center;
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 50%; 
  user-select: none;
}

.mole {
  background-color: green; /*temporary until illustrations r done*/
}
