body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../assets/landscape.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(2, 100px); 
  gap: 300px; 
  justify-content: center;
  align-content: center;
}

.hole {
  width: 100px;
  height: 100px;
  background-image: url('/assets/hole.png'); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #b92020;
  border-radius: 50%; 
  user-select: none;
}

.mole {
  background-image: url('/assets/molehole.png');
  background-size: cover;
}

