body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../assets/landscape.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  width: 100%; 
  height: 45vh; 
  justify-content: center;
  align-content: center;
  position: relative; 
  top: 50%; 
  transform: translateY(-50%);
}

.hole {
  width: 125px;
  height: 100px; 
  margin-left: 40%;
  background-image: url('/assets/newHole.png'); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* border: 2px solid #b92020; */
  border-radius: 50%; 
  user-select: none;
}

.hole:nth-child(1) { grid-column: 1; grid-row: 1; }
.hole:nth-child(2) { grid-column: 2; grid-row: 1; }
.hole:nth-child(3) { grid-column: 3; grid-row: 1; }
.hole:nth-child(4) { grid-column: 1; grid-row: 2; }
.hole:nth-child(5) { grid-column: 2; grid-row: 2; }
.hole:nth-child(6) { grid-column: 3; grid-row: 2; }

.mole {
  background-image: url('/assets/newMole.png');
  /* background-color: black; */
  background-size: cover;
}

#scoreboard {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 1.5em;
}

#timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 1.5em;
}